---
layout: "base.liquid"
---

<div class="flex">
  <div class="content">
    {{ content }}
  </div>
  <aside>
    <h2>Follow Us</h2>
    <hr>
    {% for link in socials %}
      <h3>
        <a href="{{ link.url }}">{{ link.text }}</a>
      </h3>
    {% endfor %}
    <h2>Join YDSA</h2>
    <hr>
    <p>Become a member of YDSA today and help build a better future, starting with your campus. Membership in YDSA includes membership in Democratic Socialists of America.</p>
  </aside>
</div>