@import url(https://fonts.bunny.net/css?family=open-sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i);
@import url(/static/style/manifold-dsa.css);

:root {
    /* DSA Colors */
    --red: #EC1F27;
    --red-tint-1: #F04C53;
    --red-tint-2: #F4797E;
    --red-tint-3: #F7A5A9;
    --red-tint-4: #FBD2D4;
    --black: #231F20;
    --black-tint-1: #3B3838;
    --black-tint-2: #605C5C;
    --black-tint-3: #8C8989;
    --black-tint-4: #C1C0BF;
}

.wrapper {
    width: calc(100% - 20px);
    margin: 0 auto;
    background-color: #fff;
}

@media screen and (min-width: 1024px) {
    .wrapper {
        max-width: 1200px;
    }
}

main {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flex {
    display: flex;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Manifold DSA", Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", Arial, sans-serif;
}

.hero {
    max-width: 1200px;
    height: 300px;
    display: flex;
    align-items: center;
}

.hero h1 {
    margin-left: 20px;
}
