@import url(https://fonts.bunny.net/css?family=open-sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i);
@import url(/static/style/manifold-dsa.css);

:root {
    /* DSA Colors */
    --red: #EC1F27;
    --red-tint-1: #F04C53;
    --red-tint-2: #F4797E;
    --red-tint-3: #F7A5A9;
    --red-tint-4: #FBD2D4;
    --black: #231F20;
    --black-tint-1: #3B3838;
    --black-tint-2: #605C5C;
    --black-tint-3: #8C8989;
    --black-tint-4: #C1C0BF;

    --off-white: #F2F3F4;

    /* Spacing */
    --spacing: 20px;
}

/* Mobile-first */

/***********/
/* Globals */
/***********/

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--red);
}

.content a:is([href^="http:"],[href^="https:"],[href^="//"]):not([href*="//mkeydsa.github.io"]):after {
    content: url('/static/img/outlink.svg');
}

.content a:is([href^="http:"],[href^="https:"],[href^="//"]):not([href*="//mkeydsa.github.io"]):hover:after {
    content: url('/static/img/outlink-hover.svg');
}

a:hover {
    text-decoration: underline;
    color: var(--red-tint-1);
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: "Manifold DSA", Impact, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-weight: 600;
}

hr {
    size: 1px;
    margin: 0;
    margin-bottom: 12px;
    color: var(--black);
}

aside {
    width: 100%;
}

aside h2 {
    margin-bottom: 0;
}

/***********/
/* Classes */
/***********/

.flex {
    display: flex;
}

.right {
    margin-left: auto;
    margin-right: 0;
}

/**************/
/* Single-Use */
/**************/

html {
    background-color: var(--off-white);
}

.wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

header div {
    margin-bottom: 0;
}

nav {
    align-items: last baseline;
    font-size: 30px;
}

nav ul {
    /* Make the markers disappear */
    list-style-type: none;
    margin: 0;
}

nav ul li {
    /* Puts the elements in a single line */
    display: inline-flex;
    margin-left: 5px;
}

nav a {
    text-decoration: none;
    color: var(--black);
    padding: 2px;
}

nav a:hover {
    background-color: var(--black);
    color: white;
    text-decoration: none;
}

main {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    color: var(--black);
    padding: 0 calc(var(--spacing) / 2);
}

.content {
    width: 100%;
}

.hero {
    max-width: 1200px;
    height: 300px;
    display: flex;
    align-items: center;
    background-position: right;
}

.hero h1 {
    font-weight: 900;
    font-size: 60px;
    color: white;
    margin: 0 calc(var(--spacing) / 2);
    width: 70%;
}

/* Desktop Breakpoint */

@media screen and (min-width: 1024px) {
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    .content {
        margin-right: var(--spacing);
    }

    aside {
        margin-left: auto;
        margin-right: 0;
        max-width: 300px;
    }

    main {
        padding: 0 var(--spacing);
    }

    .hero h1 {
        width: 100%;
        margin: 0 var(--spacing);
    }
}

@media screen and (max-width: 768px) {
    .hero {
        background-image: none !important;
    }

    main > .flex {
        display: block !important;
    }
}
