/* Normal */
@font-face {
    font-family: 'Manifold DSA';
    font-style: normal;
    font-weight: 100;
    font-stretch: 100%;
    src: url(/static/font/ManifoldDSA/ManifoldDSA-Light.woff2);
}

@font-face {
    font-family: 'Manifold DSA';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(/static/font/ManifoldDSA/ManifoldDSA-Regular.woff2);
}

@font-face {
    font-family: 'Manifold DSA';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    src: url(/static/font/ManifoldDSA/ManifoldDSA-Medium.woff2);
}

@font-face {
    font-family: 'Manifold DSA';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    src: url(/static/font/ManifoldDSA/ManifoldDSA-DemiBold.woff2);
}

@font-face {
    font-family: 'Manifold DSA';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url(/static/font/ManifoldDSA/ManifoldDSA-Bold.woff2);
}

@font-face {
    font-family: 'Manifold DSA';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    src: url(/static/font/ManifoldDSA/ManifoldDSA-ExtraBold.woff2);
}

@font-face {
    font-family: 'Manifold DSA';
    font-style: normal;
    font-weight: 900;
    font-stretch: 100%;
    src: url(/static/font/ManifoldDSA/ManifoldDSA-Heavy.woff2);
}


/* Italic */
@font-face {
    font-family: 'Manifold DSA';
    font-style: italic;
    font-weight: 100;
    font-stretch: 100%;
    src: url(/static/font/ManifoldDSA/ManifoldDSA-LightItalic.woff2);
}

@font-face {
    font-family: 'Manifold DSA';
    font-style: italic;
    font-weight: 400;
    font-stretch: 100%;
    src: url(/static/font/ManifoldDSA/ManifoldDSA-RegularItalic.woff2);
}

@font-face {
    font-family: 'Manifold DSA';
    font-style: italic;
    font-weight: 500;
    font-stretch: 100%;
    src: url(/static/font/ManifoldDSA/ManifoldDSA-MediumItalic.woff2);
}

@font-face {
    font-family: 'Manifold DSA';
    font-style: italic;
    font-weight: 600;
    font-stretch: 100%;
    src: url(/static/font/ManifoldDSA/ManifoldDSA-DemiBoldItalic.woff2);
}

@font-face {
    font-family: 'Manifold DSA';
    font-style: italic;
    font-weight: 700;
    font-stretch: 100%;
    src: url(/static/font/ManifoldDSA/ManifoldDSA-BoldItalic.woff2);
}

@font-face {
    font-family: 'Manifold DSA';
    font-style: italic;
    font-weight: 800;
    font-stretch: 100%;
    src: url(/static/font/ManifoldDSA/ManifoldDSA-ExtraBoldItalic.woff2);
}

@font-face {
    font-family: 'Manifold DSA';
    font-style: italic;
    font-weight: 900;
    font-stretch: 100%;
    src: url(/static/font/ManifoldDSA/ManifoldDSA-HeavyItalic.woff2);
}
